services:
  db:
    image: postgres:15-alpine
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 1234
      POSTGRES_DB: freelancer_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  backend:
    build: ./backend
    ports:
      - "3000:3000"
    environment:
      - DB_HOST=db
      - DB_PORT=5432
      - DB_USER=postgres
      - DB_PASSWORD=1234
      - DB_NAME=freelancer_db
      - MP_ACCESS_TOKEN=APP_USR-879631382774428-121220-74bf5eaac7d9a39e1eda16f6ff508494-3062167210
      - MP_PUBLIC_KEY=APP_USR-d0fe133e-57de-4f48-a8ee-c63c4291a6be
    depends_on:
      - db

  frontend:
    build: ./frontend
    ports:
      - "80:80"
    depends_on:
      - backend

volumes:
  postgres_data:
